.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  background-color: red;
  color: white;
  text-align: center;
  padding: 8px 12px;
  border-radius: 4px;
  position: absolute;
  left: 105%;
  top: 50%;
  transform: translateY(-50%);
  width: 150px;
  z-index: 1;
}